extends ../layout

block title
    title Log in to the admin site

block content
    p= message

    form.login(method="post")
        input(name="csrf", type="hidden", value=csrf)
        input(name="username", placeholder="Enter your email...")
        input(
            name="password", 
            type="password",
            placeholder="Enter your password..."
        )
        input(type="submit", value="Login")
